<mat-card class="card">

    <ng-container *ngIf='id'>
        <ng-container *ngIf='id[data.id]'>
            <mat-icon color="black" class='favorite'>favorite_border</mat-icon>
        </ng-container>
    </ng-container>

    <mat-card-header class='card__header'>
        <mat-card-title>{{data.name}}</mat-card-title>
    </mat-card-header>
    <div class="card__img d-flex justify-content-center align-items-center">

        <ng-container *ngIf='!data?.spinner'>
            <img mat-card-image src="{{data.imgURL}}" alt="Photo {{data.name}}">
        </ng-container>

        <ng-container *ngIf='data?.spinner'>
            <mat-spinner diameter='70' class='d-flex justify-content-center'></mat-spinner>
        </ng-container>
        <ng-container *ngIf='data?.imageError'>
            <span class="error">
                {{data?.imageError}}
            </span>
        </ng-container>
    </div>
    <mat-card-content>
        <p>
            {{data.description}}
        </p>
    </mat-card-content>
    <mat-card-content>
        <p>
            Price: {{data.price}} $
        </p>
    </mat-card-content>
    <mat-card-actions>
        <ng-container *ngIf='id'>
            <ng-container *ngIf='id[data.id]'>
                <button mat-stroked-button (click)="clickIdEvent(data)">{{idText}}</button>
            </ng-container>

            <ng-container *ngIf='!id[data.id]'>
                <button mat-stroked-button (click)="clickLeft(data)">{{button_Left}}</button>
            </ng-container>

        </ng-container>

        <ng-container *ngIf='!id'>
            <button mat-stroked-button (click)="clickLeft(data)">{{button_Left}}</button>
        </ng-container>

        <button mat-stroked-button (click)="clickRight(data)">{{button_Right}}</button>
        <ng-container *ngIf='close_Button'>
            <button mat-stroked-button (click)="clickCloseButton(data)">{{close_Button}}</button>
        </ng-container>
    </mat-card-actions>

</mat-card>