.card__img {
  margin-bottom: 20px;
  margin-top: 15px;
}
img {
  margin: auto;
  max-height: 300px;
  width: inherit;
}
.card__content {
  height: 150px;
  overflow-x: auto;
}
.card__header {
  line-height: 50px;
}
.favorite {
  position: absolute;
  right: 20px;
  top: 25px;
}