.line-container {
    text-align: center;
    z-index: 200;
    background: #fff;
}
.line-container hr {
    margin: 0 0 2px 0!important
 }
.line-container {
    width: 100%;
    position: fixed;
    bottom: 0;
 }

