<app-header [user]='user'></app-header>

<router-outlet></router-outlet>

<footer>
  <div class="line-container">
    <hr>
    <span>
      2019
    </span>
  </div>
</footer>
<button 
  (click)='signOut()'
>
  exit
</button>


<!-- 

<button 
  (click)='authService.signOut()'
>
  signOut
</button>
<div *ngIf='auth.user$ | async as user; else login'>

  {{user | json}}
  <hr>

  <button 
      (click)='auth.signOut()'
  >
    Sign Out
  </button>

</div>

<ng-template #login>
    <button 
        (click)='auth.googleSignin()'
    >
      Login whith Google
    </button>
</ng-template>-->