
.search {
  width: 180px;
  padding-right: 15px;
}

.search * {
 display: block;
}

.search button:not(.clear) {
  width: 90%;
  margin-bottom: 20px;
}

.driver__container {
  min-height: 350px;
}
.card {
  min-width: 270px;
  max-width: 350px;
  margin: 0 auto 20px;
  height: 100%;
}

.card.hide {
  max-width: 100%;
  min-width: 270px;
  /* width: calc(100% - 330px); */
  visibility: hidden;
}

.button__mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .button__mobile {
    display: block;
  }
}