
.search {
  width: 200px;
}
.driver__container {
  min-height: 300px;
}
 .card {
  width: 270px;
  max-width: 270px;
  margin: 0 auto 20px;
}

.card.hide {
  max-width: 100%;
  min-width: 270px;
  /* width: calc(100% - 330px); */
  visibility: hidden;
}
