/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.error {
    color: rgba(204, 53, 53, 0.726);
  }

.cdk-global-overlay-wrapper {
  top: -50px;
}

:focus {
  outline: none!important;
}

.spinner {
  height: 50vh;
}